node_modules/
data/
*.tmp
.env
.env.*
!.env.example
.DS_Store
npm-debug.log*
.railway/

relay/.relay_secret
relay/node_modules/

relay/.relay_secret
relay/node_modules/
relay-cf/node_modules/
relay-cf/.wrangler/
